{% extends 'base.html' %}

{% block content %}

{%if messages %}
  {% for message in messages %}
    {{message}}
  {%endfor%}
{% endif %}

<h4>User name: {{user}}</h4>

<form  method="POST">
  {% csrf_token %}
  <label for="project_name">Project name</label>
  <input  type="text" placeholder="Project name" name="projet_name">
  <br>
  <label for="completed">Completed?</label>
  <input type="checkbox" name="completed">
  <input type="hidden" value="{{user.id}}" name="operator">
  <br>
  <button type="submit">Create Project</button>
</form>

<br>
<a href="{% url 'logout' %}">Logout</a>

<br>
<br>


{% endblock %}