{% extends 'base.html' %}

{% block content %}

  {%if messages %}
    {% for message in messages %}
      {{message}}
    {%endfor%}
  {% endif %}

  <h4>User name: {{user}}</h4>

  <!-- <form  method="POST">
    {% csrf_token %}
    <label for="project_name">Project name</label>
    <input  type="text" placeholder="Project name" name="projet_name">
    <br>
    <label for="completed">Completed?</label>
    <input type="checkbox" name="completed">
    <input type="hidden" value="{{user.id}}" name="operator">
    <br>
    <br>
    <button type="submit">Create Project</button>
  </form> -->

  <button><a href="{%url 'create_project'%}">Create Project</a></button>

  <br>
  <button><a href="{% url 'logout' %}">Logout</a></button>

  <br>
  <br>
  <br>

  <form action="" method="POST" style="width: 50vw;">

    <table>
      <tr>
        <th>Project</th>
        <th>Hours to add</th>
      </tr>

      {%if projects_of_user%}
        {%for project in projects_of_user%}
              {{project.projet_name}}
              <br>
        {%endfor%}
      {%endif%}



    </table>




</form>

{% endblock %}