{% extends 'base.html' %}

{% block content %}

<!-- <h3>my test is {{mytest}}</h3>
<br>
<br>
<h3>added hours are {{hours}}</h3> -->
<br>
<br>
  {%if messages %}
    {% for message in messages %}
      {{message}}
    {%endfor%}
  {% endif %}

  <h3>User name: {{user}}</h3>

  <button><a href="{% url 'logout' %}">Logout</a></button>



    <!-- <form  method="POST">
      {% csrf_token %}
      <label for="project_name">Project name</label>
      <input  type="text" placeholder="Project name" name="projet_name">
      <br>
      <label for="completed">Completed?</label>
      <input type="checkbox" name="completed">
      <input type="hidden" value="{{user.id}}" name="operator">
      <br>
      <br>
      <button type="submit">Create Project</button>
    </form> -->


    <br>

    <form class="auto-margin" action="" method="POST" style="width: 50vw">

      <button style="margin-bottom:5px;"><a href="{% url 'create_project' %}" style="font-size:large; text-decoration:none;">Add new project</a> </button>

      {% csrf_token %}
      <table style="width: 50vw">
        <tr style="background-color: aqua;">
          <th >Project Description</th>
          <th>Project ID</th>
          <th>Current Total Hours</th>
          <th>Completed?</th>
          <!-- <th>Hours to add</th> -->
          <th></th>
        </tr>

        {%if projects_of_user%}
          {%for project in projects_of_user%}
            <tr style-top="padding: 5px;">
              <td class="center">
                {{project.projet_name}}
              </td>

              <td class="center">
                {{project.id}}
                &nbsp
              </td>

              <td class="center">

                {%if project.totalHours is not None%}
                  {{project.totalHours}}
                {%endif%}

              </td>

              <td class="center">
                {{project.completed}}
              </td>

              <!-- <td class="center">
                <input type="number" step="any" name="addHours">
              </td> -->

              <input type="hidden" value="{{project.id}}" name="project_id">

              <td class="center">
                <button style="margin: auto; "><a href="{% url 'modify_time'  project.id %}" style="text-decoration: none;">Add hours to this project</a></button>

                <!-- <input type="submit" value="Add new hours"> -->
              </td>

            </tr>
          {%endfor%}
        {%endif%}
      </table>

      <br>
      <!-- <input type="submit" value="Add new hours"> -->

  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!DOCTYPE html>
  <html>
  <head>
  <meta name="description" content="Drawing Basic Shapes - Bars" />
    <meta charset="utf-8">
    <title>Drawing SVG Shapes with D3</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  </head>
  <body>
    <!-- Let's draw some shapes! -->

    <!-- how about a rectangle -->
    <h3>SVG Bar</h3>
    <svg>
      <rect width="50" height="200" style="fill: blue;"/>
    </svg>


    <!-- Now let's try that with D3 -->

    <h3>D3 Bar</h3>
    <script>

var w = 300;
var h = 120;
var padding = 2;
var dataset = [ 5, 10, 13, 19, 21, 25, 11, 25, 22, 18, 7];

// var dataset = [ 5, 10, 13, 19, 21, 25, 11, 25, 22, 18, 7];

var svg = d3.select("body").append("svg")
          .attr("width", w)
          .attr("height", h);

function colorPicker(v) {
  if (v<=20) { return "#666666"; }
  else if (v>20) { return "#FF0033"; }
}

svg.selectAll("rect")
  .data(dataset)
  .enter()
  .append("rect")
  .attr({
    x: function(d, i) {return i * (w / dataset.length);},
    y: function(d) {return h - (d*4);},
    width: w / dataset.length - padding,
    height: function(d) {return d*4;},
    fill: function(d) {return colorPicker(d);}
  });

svg.selectAll("text")
  .data(dataset)
  .enter()
  .append("text")
  .text(function (d) { return d; })
  .attr({
    "text-anchor": "middle",
    x: function(d, i) {return i * (w / dataset.length)+(w / dataset.length - padding) / 2;},
    y: function(d) { return h - (d*4)+14; },
    "font-family": "sans-serif",
    "font-size": 12,
    "fill": "#ffffff"
  });

    </script>


  </body>
  </html>



{% endblock %}