{% extends 'base.html' %}

{% block content %}
<div style="text-align: center; padding: auto; padding-top: 10vh;">

<!-- {%for message in messages %} -->
    <h2>{{message}}</h2>

<!-- {% endfor %} -->

<h1>Please Login</h1>
  <form method="POST" action="">
    {% csrf_token %}
    <div>
      <input  type="text" name="username" placeholder="Username...">
    </div>

    <br>

    <div>
      <input type="password" name="password" placeholder="Password...">
    </div>

    <br>

    <input type="submit" value="Login">
    <br>
    <br>
    <button><a href="{% url 'register'%}">Register</a></button>


  </form>



</div>

{% endblock %}