{% extends 'base.html' %}

{% block title %} Modify Time Period {% endblock %}

{% block content %}

<h2>User:{{request.user}}</h2>

<!-- {{project}} -->

<div style="width: 25vw; margin-top: 11h;" class="auto-margin">
  <form method="POST">
    {% csrf_token %}
    <label for="projet_name">Project description</label>
    <input type="text" name="projet_name" value="{{project.projet_name}}" readonly>

    <br>
    <div style="margin-top: 7px;">
      <label for="totalHours" >Current total hours</label>
      <input type="number" name="totalHours" value="{{project.totalHours}}" readonly>
    </div>
    <br><br><br>
    <div class="border" style="padding: 8px; border-radius: 10px;">
      <label for="completed">Completed?</label>
      {%if project.completed%}
        <input type="checkbox" name="completed" checked>
      {%else%}
        <input type="checkbox" name="completed">
      {%endif%}

      <br>
      <label for="addHours">Add more hours</label>
      <input type="number" step="any" name="addHours">

      <br>
      <br>
      <button type="submit" style="border-radius: 5px;">Add Hours</button>
      <button><a href="{% url 'home' %}">Cancel</a></button>
      <!-- <input type="submit" value="Update"> -->
  </div>
  </form>

</div>

{%endblock%}