{% extends 'base.html' %}

{% block content %}

<div class="auto-margin" style="width: 15vw; padding:20 auto;">
  <h3>Please Register</h3>
  <form action="" method="POST">
    {% csrf_token %}
    {{form.username.label}}
    <br>
    {{form.username}}

    <br>  <br>

    {{form.email.label}}
    <br>
    {{form.email}}

    <br>  <br>

    {{form.password1.label}}
    <br>
    {{form.password1}}

    <br>  <br>

    {{form.password2.label}}
    <br>
    {{form.password2}}
    <br>
    <br>
    <input type="submit" name="Create User">
  </form>
  <br>

  <button><a href="{% url 'login'%}">Login</a></button>
  <br>
  <p>{{message}}</p>
</div>
{%endblock%}